/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: 'Nunito Sans', sans-serif;
}

/* body bg will now be handled dynamically by JS */
body {
  min-height: 100vh;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}